%h1>
  Internet Technology: XMPP Messaging
  %small= "(self: #{settings.jid})"
- unless @messages_times.empty?
  %ul
    - @messages_times.each do |m_t|
      - m = m_t[:message]
      - t = m_t[:time]
      %li= "(#{t}) #{m.from}> #{m.body}"
%form{method: :post, action: 'send'}
  %label{:for => "nick"}
    Nick:
  %input#nick{:type => "text", name: 'nick'}
  %br
  %label{:for => "message"}
    Message:
  %input#message{:type => "text", name: 'message'}
  %br
  %input{:type => "submit", :value => "Send", :class => "button"}
